In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Removing Outliers

In [5]:
df[df['Pregnancies']>df['Pregnancies'].mean()+3*df['Pregnancies'].std()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
88,15,136,70,32,110,37.1,0.153,43,1
159,17,163,72,41,114,40.9,0.817,47,1
298,14,100,78,25,184,36.6,0.412,46,1
455,14,175,62,30,0,33.6,0.212,38,1

In [6]:
df1=df[df['Pregnancies']<=df['Pregnancies'].mean()+3*df['Pregnancies'].std()]
df1.shape

(764, 9)

In [7]:
df[df['Glucose']>df['Glucose'].mean()+3*df['Glucose'].std()]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [8]:
df[df['BloodPressure']>df['BloodPressure'].mean()+3*df['BloodPressure'].std()]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [9]:
df[df['SkinThickness']>df['SkinThickness'].mean()+3*df['SkinThickness'].std()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
579,2,197,70,99,0,34.7,0.575,62,1

In [10]:
df2=df1[df['SkinThickness']<=df1['SkinThickness'].mean()+3*df1['SkinThickness'].std()]
df2.shape

C:\Users\abhav\AppData\Local\Temp/ipykernel_21944/3814582264.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2=df1[df['SkinThickness']<=df1['SkinThickness'].mean()+3*df1['SkinThickness'].std()]

(763, 9)

In [11]:
df[df['Insulin']>df['Insulin'].mean()+3*df['Insulin'].std()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197,70,45,543,30.5,0.158,53,1
13,1,189,60,23,846,30.1,0.398,59,1
111,8,155,62,26,495,34.0,0.543,46,1
153,1,153,82,42,485,40.6,0.687,23,0
186,8,181,68,36,495,30.1,0.615,60,1
220,0,177,60,29,478,34.6,1.072,21,1
228,4,197,70,39,744,36.7,2.329,31,0
247,0,165,90,33,680,52.3,0.427,23,0
286,5,155,84,44,545,38.7,0.619,34,0
370,3,173,82,48,465,38.4,2.137,25,1
409,1,172,68,49,579,42.4,0.702,28,1
415,3,173,84,33,474,35.7,0.258,22,1
486,1,139,62,41,480,40.7,0.536,21,0
584,8,124,76,24,600,28.7,0.687,52,1
645,2,157,74,35,440,39.4,0.134,30,0
655,2,155,52,27,540,38.7,0.240,25,1
695,7,142,90,24,480,30.4,0.128,43,1
753,0,181,88,44,510,43.3,0.222,26,1

In [12]:
df3=df2[df2['Insulin']<=df2['Insulin'].mean()+3*df2['Insulin'].std()]
df3.shape

(745, 9)

In [13]:
df[df['BMI']>df['BMI'].mean()+3*df['BMI'].std()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
177,0,129,110,46,130,67.1,0.319,26,1
445,0,180,78,63,14,59.4,2.420,25,1
673,3,123,100,35,240,57.3,0.880,22,0

In [14]:
df4=df3[df3['BMI']<=df3['BMI'].mean()+3*df3['BMI'].std()]
df4.shape

(742, 9)

In [15]:
df[df['DiabetesPedigreeFunction']>df['DiabetesPedigreeFunction'].mean()+3*df['DiabetesPedigreeFunction'].std()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,0,137,40,35,168,43.1,2.288,33,1
45,0,180,66,39,0,42.0,1.893,25,1
58,0,146,82,0,0,40.5,1.781,44,0
228,4,197,70,39,744,36.7,2.329,31,0
330,8,118,72,19,0,23.1,1.476,46,0
370,3,173,82,48,465,38.4,2.137,25,1
371,0,118,64,23,89,0.0,1.731,21,0
395,2,127,58,24,275,27.7,1.600,25,0
445,0,180,78,63,14,59.4,2.420,25,1
593,2,82,52,22,115,28.5,1.699,25,0
621,2,92,76,20,0,24.2,1.698,28,0

In [16]:
df5=df4[df4['DiabetesPedigreeFunction']<=df4['DiabetesPedigreeFunction'].mean()+3*df4['DiabetesPedigreeFunction'].std()]
df5.shape

(732, 9)

In [17]:
df[df['Age']>df['Age'].mean()+3*df['Age'].std()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
123,5,132,80,0,0,26.8,0.186,69,0
453,2,119,0,0,0,19.6,0.832,72,0
459,9,134,74,33,60,25.9,0.460,81,0
666,4,145,82,18,0,32.5,0.235,70,1
684,5,136,82,0,0,0.0,0.640,69,0

In [18]:
df6=df5[df5['Age']<=df5['Age'].mean()+3*df5['Age'].std()]
df6.shape

(727, 9)

In [19]:
df[df['Outcome']>df['Outcome'].mean()+3*df['Outcome'].std()]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

## Scaling

In [20]:
X=df6.drop('Outcome',axis='columns')

In [21]:
y=df6.Outcome

In [22]:
from sklearn.preprocessing import MaxAbsScaler
scaler=MaxAbsScaler()
X_scaled=scaler.fit_transform(X)
X_scaled

array([[0.46153846, 0.74371859, 0.59016393, ..., 0.61090909, 0.44785714,
        0.73529412],
       [0.07692308, 0.42713568, 0.54098361, ..., 0.48363636, 0.25071429,
        0.45588235],
       [0.61538462, 0.91959799, 0.52459016, ..., 0.42363636, 0.48      ,
        0.47058824],
       ...,
       [0.38461538, 0.6080402 , 0.59016393, ..., 0.47636364, 0.175     ,
        0.44117647],
       [0.07692308, 0.63316583, 0.49180328, ..., 0.54727273, 0.24928571,
        0.69117647],
       [0.07692308, 0.46733668, 0.57377049, ..., 0.55272727, 0.225     ,
        0.33823529]])

## Training

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,stratify=y,random_state=10)

In [24]:
X_train.shape

(545, 8)

In [25]:
X_test.shape

(182, 8)

In [26]:
X.shape

(727, 8)

In [27]:
y_train.value_counts()

0    361
1    184
Name: Outcome, dtype: int64

In [28]:
184/361

0.5096952908587258

## Model

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [30]:
k=cross_val_score(DecisionTreeClassifier(),X,y,cv=5)
k

array([0.68493151, 0.65068493, 0.70344828, 0.73793103, 0.75862069])

In [31]:
k.mean()

0.7071232876712328

## Bagging Classifier

In [32]:
from sklearn.ensemble import BaggingClassifier

In [33]:
model=BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
model.fit(X_train,y_train)
model.oob_score_

0.7577981651376147

In [34]:
l=cross_val_score(model,X,y,cv=5)
l

array([0.75342466, 0.73972603, 0.77241379, 0.80689655, 0.77241379])

In [35]:
l.mean()

0.7689749645725084

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [37]:
m=cross_val_score(RandomForestClassifier(),X,y,cv=5)
m

array([0.75342466, 0.73972603, 0.73793103, 0.8137931 , 0.75862069])

In [38]:
m.mean()

0.7606991025035427